.header {
  background-color: #f2f2f2;
  width: 1440px;
  height: 700px;
  position: relative;
}

.content {
  position: absolute;
  display: inline-block;
  width: 422px;
  height: 357px;
  top: 172px;
  left: 135px;
}

.browser {
  position: absolute;
  display: inline-block;
  width: 670px;
  height: 480px;
  top: 110px;
  left: 635px;
  background-color: #ffffff;
  outline: 1px solid black;
}

.trial-button {
  color: white;
  background-color: black;
  padding: 20px 50px;
  border-radius: 4px;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 60px;
}

.browser button {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

button {
  font-size: 20px;
}

.browser-main {
  position: absolute;
  width: 670px;
  height: 480px;
  top: 110px;
  left: 635px;
  background-color: #ffffff;
  outline: 1px solid black;
}

.main-browser {
  margin: 50px auto;
  width: 700px;
  height: 400px;
  background-color: #ffffff;
  outline: 1px solid black;
}

.main {
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  width: 1440px;
  height: 700px;
}

.main-article {
  display: inline-block;
  width: 522px;
  height: 357px;
}

h2 {
  font-size: 40px;
}

.main-browser button {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.footer {
  text-align: center;
  background-color: #f2f2f2;
  width: 1440px;
  height: 700px;
  position: relative;
}

.content-footer {
  display: inline-block;
  width: 422px;
  height: 357px;
}

.footer-trial-button {
  color: white;
  background-color: black;
  padding: 20px 50px;
  border-radius: 4px;
}
